.example-card {
  max-width: 23rem;
  margin-bottom: 6px;
}


.neewspanel{
  background-color: whitesmoke;
}


.text-oneline ::ng-deep * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.header_panel{
  text-align: center;
  padding: 10px;
}

.two_line_span{
  overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
}

.news_list{
  height: 70vh;
  overflow: auto;
}
