

<h3>Select your engagements </h3>
<mat-chip-listbox aria-label="Fish selection" multiple>
  <mat-chip-option>Political</mat-chip-option>
  <mat-chip-option>Investigative</mat-chip-option>
  <mat-chip-option color="primary" selected>Business</mat-chip-option>
  <mat-chip-option>International</mat-chip-option>
   <mat-chip-option >Crime</mat-chip-option>
    <mat-chip-option>Lifestyle</mat-chip-option>
  <mat-chip-option>Entertainment</mat-chip-option>
   <mat-chip-option>Sports</mat-chip-option>
</mat-chip-listbox>
<br>
<br>
<h3>Select location </h3>

<h3>Your location: <mark>{{timezone}}</mark></h3>

<mark> We used your system time zone for relevant news</mark>


